body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
  font-size: 14px; 
}

.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #0000;
  background: url(../../images/nyc_snow-edited.jpg) no-repeat center center;
  background-size: cover;
  background: url("../../images/nyc_snow-edited.jpg") no-repeat center center;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}
